.horde{
    color: red;

}
.alliance{
    color : #6699FF;
}
.deathknight{
    color: #C41E3A;
}

.demonhunter{
    color : #A330C9;
}

.druid{
    color:#FF7C0A;
}

.hunter{
    color:#AAD372;
}

.mage{
    color:#3FC7EB;
}

.monk{
    color:#00FF98;
}

.paladin{
    color:#F48CBA;
}

.priest{
    color:#FFFFFF;
}

.rogue{
    color :#FFF468;
}

.shaman{
    color:#0070DD;
}

.warlock{
    color:#8788EE;
}

.warrior{
    color:#C69B6D;
}

.kyrian{
    color:#8adcde;
}

.necrolord{
    color:#16a257;
}

.nightfae{
    color:#9865ff;
}

.venthyr{
    color:#b74f22;
}

.common{
    background-color: #ffffff;
}

.uncommon{
    background-color: #1eff00;
}
.rare {
    background-color: #0070dd;
}
.epic{
    background-color: #a335ee;
}
.legendary{
    background-color: #ff8000;
}