

.image{
    width :5rem;
    height:5rem;
}


.raidItems{
    background-image: url("castleNathria.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color : white;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.raidItems div {
    margin: 2rem;
    flex: 1;
}

.raidImage{
    border: solid black 3px;
}

.backImage{
    width: 100%;
    height:auto;
}

.empty{
    opacity: 0.5;
}

.equip{
    background-color: #0f0f0f;
    color: white;
    width : 50rem;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: #0f0f0f;
    font-weight: bold;
    border-width: 3px;
}
.items{
    background-color: #5c5b5b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pvpItems{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pvpItem{
    margin : 0.625rem;
}

.equipItem{
    margin:0.25rem;
}
.equipItem p {
    margin: 1px;
}

.common{
    background-color: #ffffff;
}

.uncommon{
    background-color: #1eff00;
}
.rare {
    background-color: #0070dd;
}
.epic{
    background-color: #a335ee;
}
.legendary{
    background-color: #ff8000;
}

.soulbindWrapper{
    display: flex;
}
.soulbind{
    flex: 1;
 }
.conduit{
    flex : 2;
}

.soulbind:first-child {
    margin-right: 10px;
}

.popup{
    background-color: #5c5b5b;
}
.dungeonImage{
    width: 2.5rem;
    height: 2.5rem;
}

.affixImage{
    width:1.5rem;
    height:1.5rem ;
}

@media only screen and (max-width: 1024px) {
    .equip, .raidItems{
        width: 100%;
        margin:auto;
    }
}
table{
    width:100%;
}
td,tr {
    text-align: left;
    padding : 1rem 0.5rem;
}

tr:nth-child(2n) {
    background-color: #5c5b5b;
}


button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    border-radius: 3px;
    background: linear-gradient(#0f0f0f, #5c5b5b);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #939393;
    color: #fff;
    display: inline-block;
    margin: 0 25px 25px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f2f2f; }

button:hover {
    background: linear-gradient(#5c5b5b, #0f0f0f);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181; }

button:active {
    background: #0f0f0f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e; }

.affix{
    display: inline-block;
}

.covenantText{
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    margin: 0.625rem;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: white 1px solid;
    max-width: 12rem;
    position: absolute;
    z-index: 1;
}

.tooltiptext p,.tooltiptext h5{
    margin:1rem;
}


img:hover + .tooltiptext {
    visibility: visible;
}

.covenantImage{
    width: 3rem;
    height:3rem;
}



